body {
    background-color: #EEEEEE;
}

body.print {
    background-color: white;
}

.newline {
    white-space: pre-line;
}

/**-- Таблицы --**/
.table {
    transform-style: preserve-3d;
}

.table th, .table td {
    padding: 5px;
}

table.typography {
    font-size: smaller;
}

table.typography tbody tr td {
    background-color: white;
}

table.typography tbody tr td.top {
    border-top: solid 2px darkgray;
}

table.print tr td.top {
    border-top: solid 2px darkgray;
}

table.typography tbody tr td.night {
    background-color: #F2F2F2;
}

thead#grafik-thead {
    background-color: lightcyan;
}

table.in-cell {
    margin: 0;
}

table.in-cell tr td {
    border: 0;
    padding: 0;
    vertical-align: middle;
    padding: 0;
}

/* Буфер обмена */
.clipboard_copy {
    position: relative;
}

.clipboard_alert {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100;
    display: none;
}

/* Элементы управления */
textarea#editable {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.add_edition_buttons {
    border: solid gray 1px;
    border-radius: 15px;
    padding: 15px;
    padding-top: 25px;
    position: absolute;
    left: -30px;
    top: -10px;
    background-color: white;
    white-space: nowrap;
    z-index: 100;
}

.add_edition_buttons_close {
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 101;
}